*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}
 .text-center{
    align-items: center;
    font-size: 16px;
}
.next{
    width: 384px;
    height: 48px;
    background-color: #232529;
    font-size: 20px;
    text-align: center;
}
.block{
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left{
    align-self: flex-start;
    margin-left: 16px;
}
input{
    border-radius: 5px;
    border: 0.5px solid #AEAEAE;
}
 /* первый блок  */
.number{
    width: 640px;
    height: 264px;

}
#number{
    width: 608px;
    height: 48px;
}
/* второй блок */
.code_verification{
    text-align: center;
    width: 640px;
    height: 328px;
}
.number_3{
    width: 48px;
    height: 48px;
    border-radius: 10px;
}
.button_3{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.next_2{
    margin-top: 40px;
}
/* блок номер 3 */
.ques{
    height: 576px;
    width: 664px;
    display: flex;
    gap: 8px;
}
.ques input{
    height: 48px;
    margin-top: 16px;
}
.border-200{
    width: 200px;
}
.border-408{
    width: 408px;
}
.id_data{
    margin-left: 24px;
}